{% extends 'base.html.twig' %}

{% block title %}{{ _self }}{% endblock %}

{% block body %}

        <h1>App Location Class (just countries and 2nd level, from AppFixtures) </h1>
        <div id="jstree">
        <ul>
            {% for root in rootNodes %}
            <li> {{ root.name }}
                <span class="text-sm-end">{{ root.children|length }}</span>
                <ul>
                {% for child in root.children %}
                    <li>{{ child.name }}
                        <span class="text-sm-end">{{ child.children|length }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>

        </div>
{% endblock %}
