{% use 'bootstrap_4_horizontal_layout.html.twig' with form_label as base_form_label %}

{{ form_start(form) }}

{#    {{ form_row(form.locationScope) }}#}
{#    {{ form_row(form.filter) }}#}

<div class="row">
    <div class="col">
{#        {{ form_row(form.regionalFilter) }}#}
    </div>
    <div class="col" id="some-custom-id">
        {# {{ form_row(form.locations, {label: 'State/Region'}) }} #}
    </div>
</div>


{{ form_rest(form) }}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
